# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/miMP/ejercicios/rel_t3/ej_14/build/
/miMP/ejercicios/rel_t3/ej_14/dist/
/miMP/ejercicios/rel_t3/ej_16/build/
/miMP/ejercicios/rel_t3/ej_16/dist/
